* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #252525;
    color: #fff;
}

.primary-bg-color {
    background-color: #252525;
}

.secondary-bg-color {
    background-color: #C09578;
}

.light-bg-color {
    background-color: #FCF5EB;
}

.dark-bg-color {
    background-color: #101010;
}

.gray-background {
    background-color: #626262;
}

.primary-color {
    color: #C09578;
}

.secondary-color {
    color: #626262;
}

.light-color {
    color: #FCF5EB;
}

.dark-color {
    color: #101010; 
}

.btn {
    background-color: transparent;
    border: 1px solid #C09578;
    transition: 0.5s;
}

.btn:hover {
    background-color: #C09578;
    border: 1px solid #C09578;
}

.title {
    font-weight: 1000;
    font-size: 3.5em;
}

.card img {
    width: 140px;
    height: 200px;
    margin: 0 auto;
}

.card {
    border: none;
}

.card .card-text {
    font-weight: bold;
}

.card h5 {
    font-weight: bold;
}

/* NAVBAR */

#navbar-items-container {
    display: flex;
    flex-direction: column;
}

#navbar-items-container .navbar-nav {
    flex-direction: row;
}

#navbar-items-container .navbar-nav li {
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

#navbar-container a,
#navbar-container button {
    color: #FFF;
}

#navbar-container i {
    font-size: 20px;
}

#navbar-container span {
    position: absolute;
    top: -8px;
    right: -0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EF3636;
    text-align: center;
}

#bag-item span {
    left: 30px;
}

#navbar-container .navbar-brand {
    margin-right: 0;
    font-weight: bold;
}

#search-form,
#news-letter-form {
    width: 100%;
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
}

#search-form input,
#news-letter-form input {
    background-color: transparent;
    border: none;
    color: #FFF;
}

#search-form input::placeholder,
#news-letter-form input::placeholder,
#news-letter-form button {
    color: #FFF;
}

#search-form input:focus,
#news-letter-form input:focus {
    box-shadow: none;
}

@media(min-width: 768px) {
    #navbar-items-container {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }

    #navbar-items-container .navbar-nav li {
        position: relative;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    #search-form {
        width: 50%;
    }
}

@media(min-width: 992px) {
    #search-form {
        width: 40%;
    }
}

/* BOTTOM NAVBAR */

#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    color: #FFF;
    font-weight: bold
}

#bottom-navbar-container button {
    font-size: 1.5em;
}


/* Banners */

#main-banners,
#main-banners img {
    max-height: 90vh;
}

#main-banners .carousel-caption {
    padding: 0.5em 0.5em;
    max-width: 50%;
    margin: 0 auto;
    bottom: 0.5em;
}

#main-banners h5 {
    font-weight: bold;
}

#main-banners p {
    margin-bottom: 0;
    font-size: 8px;
}

@media(min-width: 768px) {
    #main-banners,
    #main-banners img {
        max-height: 600px;
    } 

    #main-banners .carousel-caption {
        padding: 1.5em 1em;
        max-width: 60%;
        bottom: 2em;
    }

    #main-banners h5 {
        font-size: 2em;
    }

    #main-banners p {
        font-size: 1em;
    }
}

@media(min-width: 992px) {
    #main-banners h5 {
        font-size: 3em;
    }

    #main-banners p {
        font-size: 1.5em;
    }
}

/* MINI BANNERS */
#mini-banners-container {
    position: relative;
    z-index: 10;
}

.mini-banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mini-banners-container img {
    height: 250px;
}

.mini-banner-text-container h2 {
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
}

.mini-banner-text-container a {
    transition: 0.5s;
    font-weight: bold;
}

#mini-banners-container .mini-banner {
    z-index: 1;
}

#mini-banner1 a:hover,
#mini-banner3 a:hover {
    color: #C09578;
}

#mini-banner2 a:hover {
    color: #101010;
}

@media(min-width: 768px) {
    #mini-banners-container {
        padding: 0 1.5em;
        margin-top: -4em;
    }

    #main-banners .carousel-caption {
        bottom: 3em;
    }

    .mini-banner-text-container h2 {
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
    }
}

/* DESTAQUES */

#destaques-container img {
    height: 300px;
}

#desconto-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

#destaques-container h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

#destaques-container .btn {
    padding: 0.8em 1.6em;
    font-weight: bold;
}

@media(min-width: 768px) {
    #destaques-container h2 {
        font-size: 3.5em;
    }  
}

/* NOVIDADES */

#novidades-container .d-md-flex {
    flex-direction: column;
    justify-content: center;
}

#novidades-container h3 {
    font-size: 3em;
}

#novidades-container h4 {
    font-weight: bold;
    font-size: 2.5em;
}

#novidades-container .row .d-md-flex .primary-color {
    font-size: 0.9em;
}

@media(min-width: 992px) {
    #novidades-container h4 {
        font-size: 3em;
    }
}

/* GALLERY */

.gallery-image {
    background-position: center;
    background-size: cover;

    transition: 0.5s;
    border: 3px solid #101010;
    height: 225px;
    cursor: pointer;
}

.gallery-image:hover {
    border-color: #C09578;
}

#instagram-1 {
    background-image: url(../imgs/insta1.jpg);
}

#instagram-2 {
    background-image: url(../imgs/insta2.jpg);
}

#instagram-3 {
    background-image: url(../imgs/insta3.jpg);
}

#instagram-4 {
    background-image: url(../imgs/insta4.jpg);
}

#instagram-5 {
    background-image: url(../imgs/insta5.jpg);
}

#instagram-6 {
    background-image: url(../imgs/insta6.jpg);
}

/* CONTACT FOOTER */

#container-container a {
    text-decoration: none;
    transition: 0.5s;
    font-size: 0.8em;
}

#container-container a:hover {
    color: #C09578;
}

#container-container .col-12 {
    border-bottom: 1px solid #626262;
}

#container-container p {
    font-size: 1.2em;
}

#container-container h3 {
    font-size: 2.0em;
    text-transform: uppercase;
}

#container-container .logo {
    font-weight: bold;
}

#container-container .phone {
    font-weight: bold;
    font-size: 2em;
}


@media(min-width: 768px) {
    #container-container .col-12 {
        border-bottom: none;
    }

    #container-container h3 {
        font-size: 1.8em;
    }

    #container-container {
        border-top: 1px solid #626262;
        border-bottom: 1px solid #626262;
    }

    #container-container .row .col-12:nth-child(2) {
        border-right: 1px solid #626262;
        border-left: 1px solid #626262;
    }
}

/* NEWS LETTER */

#newsletter {
    border-bottom: 1px solid #626262;
}

#news-letter-form {
    max-width: 600px;
    margin: 0 auto;
}

#news-letter-form i {
    font-size: 2em;
}

#icons-container i {
    color: #626262;
    padding: 0 0.5em;
    font-size: 1.8em;
    transition: 0.5s;
}

#icons-container i:hover {
    color: #C09578;
}

/* FOOTER */

footer p {
    font-size: 1.2em;
}